
:root
{
    --purple-color: #5766dc;
    --gray-color: #f7f7f7;
    --red-color: #fa5959;
    --night-color: #242a45;
}

body
{
    font-family: bebas;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


header
{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-bottom: 50px;
    padding-top: 50px;
}


.logo1
{
    width: 300px;
    height: 50px;
}


.nav-div
{
    display: flex;
    justify-content: flex-end;
    width: 500px;
}


.head-ul
{
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}


.link
{
    text-decoration: none;
    color: var(--night-color);
}


.login-btn-div
{
    display: flex;
    align-items: center;
    height: inherit;
}


.login-btn
{
    background: var(--red-color);
    color: white;
    border-radius: 5px;
    border: none;
    /* width: 120px;
    height: 40px; */
    padding: 10px 18px;
    font-size: 18px;
}


.fa-bars
{
    font-size: 1rem;
}


.hamb
{
    display: none;
    margin-top: 5px;
}

/* ####################   MEDIA QUERY  ############## */
@media screen and (min-width:481px) and (max-width:768px)
{
    .logo1
    {
        width: 180px;
        height: 35px;
    }
}

@media screen and (min-width:320px) and (max-width:480px)
{
  
    header
    {
        padding-bottom: 0px;
    }

 
    .logo1
    {
        width: 200px;
        height: 40px;
    }

    .hamb
    {
        display: block;
    }
  
    .nav-div
    {
        display: none;
    }
}

.banner-sec
{
    display: flex;
    justify-content: space-around;
    margin: 0px 10px;
    padding-bottom: 70px;
    padding-left: 100px;
}

.banner-head
{
    font-family: bebas;
    font-size: 50px;
    font-weight: normal;
    color: var(--night-color);
}

.b-txt-wrap
{
    display: flex;
    order: 1;
}


.banner-txt
{
    width: 35vw;
}


.banner-p
{
    font-size: 25px;
    color: gray;
}


.chrome-btn
{
    font-size: 20px;
    width: 180px;
    height: 40px;
    background: var(--purple-color);
    color: white;
    border: none;
    border-radius: 5px;
}


.chrome-btn:hover
{
    background: white;
    color: var(--night-color);
    border: 1px solid black;
}
 

.firefox-btn
{
    font-size: 20px;
    width: 180px;
    height: 40px;
    background: var(--purple-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.firefox-btn:hover
{
    background: white;
    color: var(--night-color);
    border: 2px solid black;
}


.btn-div
{
    display: flex;
    gap:20px;
    width: 500px;
}
 

.b-img-wrap
     {
         display: flex;
         order: 2;
     }

.banner-img-div
{
    margin-right: 0px;
    padding-right: 0px;
}

.colored-shape
{
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    padding-right: 0px;
}

.sub-colored-shape
{
    position: absolute;
    width: 650px;
    height: 250px;
    margin-top: 150px;
    background-color: var(--purple-color);
    border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    z-index: 1;
    margin-right: -280px;
    padding-right: -280px;
}

.img-div
{
    position: relative;
    margin-top: 90px;
    margin-left:40px;
    width: 100%;
    height: 50%;
    z-index: 2;
    margin-right: 0px;
    padding-right: 0px;
}


.banner-img
{
    width: 120%;
    height: 100%;
    margin-right: 0px;
    padding-right: 0px;
}


@media screen and (min-width:769px) and (max-width:1279px)
{
   
    .sub-colored-shape
    {
        width: 400px;
        height: 200px;
        margin-right: -170px;
        padding-right: -170px;
        margin-top: 150px;
    }
    
 
    .img-div
    {
        margin-left: 80px;
    }
    
   
    .banner-head
    {
        font-size: 30px;
    }
}
/
@media screen and (min-width:481px) and (max-width:768px)
{
   
    .banner-sec
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
    
 
    .banner-img-div
     {
         width: 100%;
         float: none;
     }
     
     
     .b-img-wrap
     {
         display: flex;
         order: 1;
     }
     
     .sub-colored-shape
    {
        width: 400px;
        height: 300px;
        margin-top: 300px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
  
    .img-div
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .banner-img
    {
        width: 80%;
        height: 400px;
    }

   
    .banner-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 80px;
    }
    
    .b-txt-wrap
     {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        order: 2;
    }
  
    .btn-div
     {
        display: flex;
        justify-content: center;
        gap:5px;
        width: 100%;
     }
     
   
     .banner-head
     {
        font-family: bebas;
        font-size: 40px;
        color: var(--night-color);
     }
     

     .p-div
    {
        display: flex;
        justify-content: center;
    }
     
    
     .banner-p
     {
        font-size: 16px;
        color: gray;
        width: 80%;
     }
}

@media screen and (min-width:320px) and (max-width:480px)
{
   
    .banner-sec
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
    
 
    .banner-img-div
     {
         width: 100%;
         float: none;
     }
     
     .b-img-wrap
     {
         display: flex;
         order: 1;
     }
     
     .sub-colored-shape
     {
        width: 220px;
        height: 180px;
        margin-top: 200px;
        margin-right: 0px;
        padding-right: 0px;
     }
    
    .img-div
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .banner-img
    {
        width: 300px;
        height: 200px;
    }
    
   
    .banner-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 100px;
    }
    
    
    .p-div
    {
        display: flex;
        justify-content: center;
    }
    

    .b-txt-wrap
    {
        display: flex;
        order: 2;
    }
    
   
    .btn-div
     {
        display: flex;
        justify-content: center;
        gap:5px;
        width: 100%;
     }
     
     .banner-head
     {
        font-family: bebas;
        font-size: 30px;
        font-weight: normal;
        color: var(--night-color);
     }
     
     .banner-p
     {
        font-size: 16px;
        color: gray;
        width: 80%;
     }
}

.bg-color
{
    background: var(--gray-color);
}

.features
{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.ft-div
{
    width: 100%;
  
}

.ft-head
{
    font-family: bebas;
    font-size: 50px;
    font-weight: normal;
    color: var(--night-color);
    
}

.ft-p-div
{
    display: flex;
    justify-content: center;
}

.ft-p
{
    color: gray;
    width: 50%;
    font-size: 25px;
   
}

@media screen and (min-width:769px) and (max-width:1279px)
{
   
    .ft-head
    {
        font-family: bebas;
        font-size: 30px;
        font-weight: normal;
        width: 100%;
        color: var(--night-color);
        text-align: center;
    }
    
    .ft-p
    {
        font-size: 16px;
        color: gray;
        width: 60%;
    }
}

@media screen and (min-width:481px) and (max-width:768px)
{
    
    .ft-head
    {
        font-family: bebas;
        font-size: 30px;
        font-weight: normal;
    }
    
    /* Features Paragraph */
    .ft-p
    {
        width: 70%;
        font-size: 16px;
    }
}

@media screen and (min-width:320px) and (max-width:480px)
{
    .ft-head
    {
        font-size: 20px;
        font-weight: normal;
    }
    

    .ft-p
    {
        width: 90%;
        font-size: 16px;
    }
}

.sub-sec1
{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px;
    padding-bottom: 70px;
    padding-left: 0px;
}

.colored-shape2
{
    display: flex;
    justify-content: flex-start;
}

.sub-colored-shape2
{
    position: absolute;
    width: 650px;
    height: 250px;
    margin-top: 150px;
    background-color: var(--purple-color);
    border-bottom-right-radius: 120px;
    border-top-right-radius: 120px;
    z-index: 1;
    margin-left: -100px;
    padding-left: -100px;
}

.img-div2
{
    position: relative;
    margin-top: 110px;
    margin-left: 200px;
    width: 60%;
    height: 55%;
    z-index: 2;
    margin-right: 0px;
    padding-right: 0px;
}

.bg-img
{
    width: 320px;
    height: 220px;
    margin-right: 0px;
    padding-right: 0px;
}

.sub1-head
{
    font-family: bebas;
    font-size: 50px;
    font-weight: normal;
    color: var(--night-color);
}

.sub1-txt
{
    width: 35vw;
    margin-top: 100px;
    margin-right: 100px;
}

.sub1-p
{
    font-size: 25px;
    color: gray;
}

.info-btn
{
    font-size: 20px;
    width: 100px;
    height: 40px;
    background: var(--purple-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.info-btn:hover
{
    background: white;
    color: var(--night-color);
    border: 2px solid black;
}



@media screen and (min-width:769px) and (max-width:1279px)
{
   
    .sub-colored-shape2
    {
        width: 450px;
        height: 180px;
        margin-top: 170px;
    }
    
   
    .img-div2
    {
        margin-left: 100px;
        margin-top: 110px;
    }
    
   
    .bg-img
    {
        width: 300px;
        height: 200px;
    }
    
    .sub1-head
    {
        font-size: 30px;
        font-weight: normal;
    }
    
    .sub1-p
    {
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (min-width:481px) and (max-width:768px)
{
 
    .sub-sec1
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
    
    .sub1-img-div
     {
         width: 100%;
         float: none;
     }
     
     .sub1-img-wrap
     {
         display: flex;
         order: 1;
     }
     
     .sub-colored-shape2
    {
        width: 400px;
        height: 300px;
        margin-top: 300px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .img-div2
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .bg-img
    {
        width: 80%;
        height: 400px;
    }

    .sub1-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 80px;
    }
    
    
    .sub1-txt-wrap
    {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        order: 2;
    }
   
    .sub1-btn-div
     {
        display: flex;
        justify-content: center;
        gap:5px;
        width: 100%;
     }
  
     .sub1-head
     {
        font-family: bebas;
        font-size: 40px;
        color: var(--night-color);
     }
     
     .sub1-p-div
    {
        display: flex;
        justify-content: center;
    }
     
   
     .sub1-p
     {
        font-size: 16px;
        color: gray;
        width: 80%;
     }
}

@media screen and (min-width:320px) and (max-width:480px)
{
    
    .sub-sec1
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
   
    .sub1-img-div
     {
         width: 100%;
         float: none;
     }
     
 
     .sub1-img-wrap
     {
         display: flex;
         order: 1;
     }
     
     .sub-colored-shape2
    {
        width: 300px;
        height: 180px;
        margin-top: 200px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
   
    .sub1-img-div
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
    .bg-img
    {
        width: 300px;
        height: 200px;
        margin-left: -140px;
    }
    
    .sub1-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 80px;
        padding-top: 50px;
    }

    .sub1-p-div
    {
        display: flex;
        justify-content: center;
    }
    
    
    .sub1-txt-wrap
    {
        display: flex;
        order: 2;
    }
   
     .sub1-head
     {
        font-family: bebas;
        font-size: 30px;
        font-weight: normal;
        width: 100%;
        color: var(--night-color);
        text-align: center;
     }
     
     .sub1-p
     {
        font-size: 16px;
        color: gray;
        width: 120%;
     }
}

.sub-sec2
{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px;
    padding-bottom: 70px;
    padding-left: 0px;
}

.colored-shape3
{
    display: flex;
    justify-content: flex-end;
}


.sub-colored-shape3
{
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 150px;
    background-color: var(--purple-color);
    border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    z-index: 1;
    margin-right: -120px;
    padding-right: -120px;
}

.sub1-txt
{
    margin-right: 0px;
}

.img-div3
{
    position: relative;
    margin-top: 110px;
    margin-left: -30px;
    width: 60%;
    height: 55%;
    z-index: 2;
    margin-right: 0px;
    padding-right: 130px;
}


.bg-img2
{
    width: 320px;
    height: 220px;
}

@media screen and (min-width:769px) and (max-width:1279px)
{

    .sub-sec2
    {
        padding-left: 20px;
    }
    
    .sub-colored-shape3
    {
        width: 450px;
        height: 180px;
        margin-top: 170px;
        margin-right: -70px;
        padding-right: -70px;
    }
      
    
     .sub2-img-wrap
     {
         display: flex;
         order: 2;
     }

    .img-div3
    {
        margin-top: 110px;
        padding-right: 100px;
    }
    

    .bg-img2
    {
        width: 300px;
        height: 200px;
    }
    
    .sub2-txt-wrap
    {
        display: flex;
        order: 1;
    }
    
    .sub1-txt
    {
        padding-top: 10px;
    }
    
    .sub1-head
    {
        font-size: 30px;
        font-weight: normal;
    }
    
    .sub1-p
    {
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (min-width:481px) and (max-width:768px)
{
    .sub-sec2
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
    
    .sub1-img-div
     {
         width: 100%;
         float: none;
     }
     
     .sub2-img-wrap
     {
         display: flex;
         order: 1;
     }
   
     .sub-colored-shape3
    {
        width: 400px;
        height: 300px;
        margin-top: 300px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .img-div3
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .bg-img2
    {
        width: 80%;
        height: 400px;
    }

    .sub1-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 80px;
    }
    
    .sub2-txt-wrap
    {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        order: 2;
    }
   
    .sub2-btn-div
     {
        display: flex;
        justify-content: center;
        gap:5px;
        width: 100%;
     }
     
     .sub1-head
     {
        font-family: bebas;
        font-size: 40px;
        color: var(--night-color);
     }
     
     .sub1-p-div
    {
        display: flex;
        justify-content: center;
    }

     .sub1-p
     {
        font-size: 16px;
        color: gray;
        width: 80%;
     }
}

@media screen and (min-width:320px) and (max-width:480px)
{
    .sub-sec2
    {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin: 0px 0px;
        width: 100%;
        justify-content: center;
    }
    
    .sub1-img-div
     {
         width: 100%;
         float: none;
     }
     
     .sub1-img-wrap
     {
         display: flex;
         order: 1;
     }
     
    
     .sub-colored-shape3
    {
        width: 280px;
        height: 190px;
        margin-top: 200px;
        margin-right: -400px;
    }
    
    .sub1-img-div
    {
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .bg-img2
    {
        width: 300px;
        height: 200px;
        margin-left: 80px;
    }
    
    .sub1-txt
    {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0px;
        padding-top: 50px;
    }
    
    .sub1-p-div
    {
        display: flex;
        justify-content: center;
        width: 80%;
        padding-left: 10%;
    }
    
  
    .sub2-txt-wrap
    {
        display: flex;
        order: 2;
    }
   
     .sub1-head
     {
        font-family: bebas;
        font-size: 30px;
        font-weight: normal;
        width: 100%;
        color: var(--night-color);
        text-align: center;
     }
   
     .sub1-p
     {
        font-size: 16px;
        color: gray;
        width: 120%;
     }
}
.extensions
{
    width: 100%;
}

.ext-txt-div
{
    display: flex;
    justify-content: center;
}

.ext-txt
{
    width: 80%;
    text-align: center;
}

.ext-head
{
    font-family: bebas;
    font-size: 50px;
    font-weight: normal;
    color: var(--night-color);
}

.ext-p
{
    font-size: 25px;
    color: gray;
}

.ext-cards 
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:50px;
    margin-bottom: 50px;
}

.chrome
{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    box-shadow: 0px 5px 7px lightgray;
    padding-bottom: 10px;
}

.firefox
{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    box-shadow: 0px 5px 7px lightgray;
    padding-bottom: 10px;
    margin-top: 30px;
}

.opera
{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    box-shadow: 0px 5px 7px lightgray;
    padding-bottom: 10px;
    margin-top: 60px;
}

.card-img
{
    width: 150px;
    height: 150px;
}

.card-head
{
    font-size: 20px;
    font-weight: normal;
}

.card-p
{
    font-size: 18px;
    color: gray;
}

.card-btn
{
    color: white;
    background: var(--purple-color);
    width: 280px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

.card-btn:hover
{
    background: white;
    color: black;
    border: 2px solid black;
}

@media screen and (min-width:481px) and (max-width:768px)
{
  
    .ext-cards
    {
        display: block;
        justify-content: center;
    }
    
    .outer-card-div
    {
        display: flex;
        justify-content: center;
    }
    
    .ext-head
    {
        font-size: 30px;
    }
    
    .ext-p
    {
        font-size: 18px;
    }
    
    .chrome
    {
        width: 90%;
    }
    
    .firefox
    {
        width: 90%;
        border: 2px solid black;
    }
    
    .opera
    {
        width: 90%;
    }
    
    .card-btn
    {
        width: 670px;
    }
}
@media screen and (min-width:320px) and (max-width:480px)
{
    .ext-cards
    {
        display: block;
        justify-content: center;
    }
    
    .outer-card-div
    {
        display: flex;
        justify-content: center;
    }
    
    .chrome
    {
        width: 90%;
    }
    
    .firefox
    {
        width: 90%;
    }
    
    .opera
    {
        width: 90%;
    }
    
    .card-btn
    {
        width: 380px;
    }
}

.faq
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background: var(--gray-color);
}

.head
{
    text-align: center;
}

.head-head
{
    font-size: 50px;
    font-weight: normal;
}

.faq-p-div
{
    display: flex;
    justify-content: center;
}

.head-p
{
    width: 60%;
    font-size: 25px;
    color: gray;
}

.q-div
{
    display: flex;
    justify-content: center;
}

.faq-q
{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.faq-p
{
    font-size: 20px;
}

.chevron
{
    display: flex;
    align-items: center;
}

.faq-btn-div
{
    display: flex;
    justify-content: center;
}

.faq-btn
{
    color: white;
    background: var(--purple-color);
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 50px;
    border-radius: 5px;
}

.faq-btn:hover
{
    color: black;
    background: white;
    border: 2px solid black;
}

@media screen and (min-width:481px) and (max-width:768px)
{
  
    .head-head
    {
        font-size: 30px;
    }
    
    .head-p
    {
        font-size: 18px;
    }
    
    .faq-q
    {
        width: 600px;*/
    }
}
@media screen and (min-width:320px) and (max-width:480px)
{
    .head-head
    {
        font-size: 20px;
    }
    
    .head-p
    {
        font-size: 16px;
    }
    
    .faq-q
    {
        width: 400px;
    }
}
.email
{
    background: var(--purple-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.email-head1
{
    font-family: bebas;
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.email-head2
{
    font-family: bebas;
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.form
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.email-form
{
    border: none;
}

.email-bar
{
    width: 600px;
    height: 40px;
    border: none;
}

.contact-btn
{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: var(--red-color);
    color: white;
    border: none;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-left: 10px;
}

@media screen and (min-width:481px) and (max-width:768px)
{
    email-head1
    {
        font-size: 10px;
    }
    
    .email-head2
    {
        font-size: 30px;
    }
    
    .form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .email-form
    {
        margin-bottom: 20px;
    }
    
    .email-bar
    {
        width: 95vw;
        border-radius: 10px;
    }
    
    .contact-btn
    {
        width: 95%;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:320px) and (max-width:480px)
{
    email-head1
    {
        font-size: 10px;
    }
    
    .email-head2
    {
        font-size: 30px;
    }
    
    .form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .email-form
    {
        margin-bottom: 20px;
    }
    
    .email-bar
    {
        width: 95vw;
        border-radius: 10px;
    }
    
    .contact-btn
    {
        width: 95%;
        margin-bottom: 0px;
        margin-left: -3px;
    }
}

footer
{
    background: var(--night-color);
    width: 97.25vw;
    margin-right: -100px;
    display: flex;
    padding: 50px 20px;
}

.foot-div
{
    display: flex;
}

.foot-sub-sec1
{
    width: 97.25vw;
    display: flex;
    justify-content: space-between;
}

.foot-sub-sec2
{
    display: flex;
}

.logo2
{
    width: 200px;
    height: 40px;
}

.foot-ul
{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.foot-li
{
    
}

.foot-link
{
    text-decoration: none;
    color: white;
}

.fa-facebook
{
    font-size: 30px;
}

.fa-twitter
{
    font-size: 30px;
}

.icon-div
{
    display: flex;
    width: 100px;
    justify-content: space-between;
    padding-top: 5px;
}

@media screen and (min-width:769px) and (max-width:1279px)
{
    footer
    {
        width: 96.25vw;
    }

    .foot-sub-sec1
    {
        width: 96.25vw;
    }
}

@media screen and (min-width:481px) and (max-width:768px)
{
    

    footer
    {
        width: 94.25vw;
         
    }

    .foot-sub-sec1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .foot-sub-sec2
    {
        width: 800px;
    }
    
    .icon-div
    {
        width: 100%;
        display: flex;
        justify-content: center;
        gap:50px;
        padding-top: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:480px)
{
    footer
    {
        width: 90.5vw;
    }

    .foot-sub-sec1
    {
        display: block;
        width: 90.5vw;
    }
    
    .foot-sub-sec2
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .foot-img-div
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .foot-ul
    {
        width: 90.5vw;
        margin-left: -44px;
    }
    
    .icon-div
    {
        width: 100%;
        display: flex;
        justify-content: center;
        gap:50px;
        padding-top: 20px;
    }
}